//VARIABLES
//to refer to any of the values use $varName
//ex for below variable
$backgroundColor: #ffffff;
//use background-color: $backgroundColor;

//COLOR VARS
//$textColor = white;





body{
  background-color:$backgroundColor ;
}

section{
  display: flex;

}
.decorated{
  display: flex;
  flex-direction: row;
  .img{
    width: 15rem;
    height: auto;

  }
}

