:root {
    --text-color: black;
    --blue: #009de3;
    --dark-blue: #006492;
    --grey: #494949;
    --light-grey: #ececec;
    --very-light-grey: #f4f4f4;
}

body {
    background-color: #ffffff;
    margin: unset;
    font-family: AirportFont;
}

hr {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    background-color: black;
    height: 1px;
    opacity: 0.3;
}

section {
    display: flex;
    margin-top: 2rem;
    display: flex;
    column-gap: 1.5rem;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 2rem 2rem;
}

section h1{
    font-family: AirportFontSoft, Serif;
    color: var(--grey);
    font-weight: normal;
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.1rem;
    text-transform: uppercase;
}

.showMore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: AirportFontSoft, Serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--blue);
    transform-origin: 0 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.showMore {
    color: var(--dark-blue);
}


.padded {
    width: 80%;
    margin: 0 auto;
}

body section {
    position: relative;
    background-color: var(--light-grey);
}

header section {
    position: inherit;
    background-color: transparent;

}

.decorated {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.decorated span {
    display: flex;
    column-gap: 1rem;
}

.decorated:after {
    content: "";
    display: flex;
    width: 1.5rem;
    height: 0.9rem;
    background-color: var(--grey);
    position: absolute;
    top: 0rem;
    margin-left: 1.5rem;
}

.decorated:before {
    content: "";
    display: flex;
    width: 3rem;
    height: 0.9rem;
    background-color: var(--blue);
    position: absolute;
    top: 0rem;
}

.decorated img {
    width: 5rem;
    height: auto;
}

.decorated .logoTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #6d6d6d;
    font-family: AirportFontSoft;
    font-weight: 500;
    font-size: 1.28rem;
}

.decorated .logoTextContainer img {
    width: 17rem;
    margin-left: -0.3rem;
}

/*# sourceMappingURL=styles.css.map */
@font-face {
    font-family: 'AirportFont';
    src: url('./fonts/Airport-Font-Regular.ttf');
}

@font-face {
    font-family: 'AirportFontSoft';
    src: url('./fonts/Airport-Font-Soft.ttf');
}

.menu{
    padding: unset;
    margin-top: 0rem;
}

.menu a {
    font-family: AirportFontSoft, Serif;
    display: block;
    color: #02b7ff;
    text-decoration: none;
    position: relative;
    font-size: 1.3rem;
    font-weight: normal;
}
.menu a:hover{
    color: var(--dark-blue);
}

.menu a:after {
    position: absolute;
    color: #6d6d6d;
    opacity: 0.5;
    right: -1rem;
    content: "|";
}

.menu a:last-child:after {
    content: "";

}

.menu a span{
    transition: 0.3s;

    display: inline-block;
    position: relative;
}

/*.NavBar a:hover{*/
/*    color: var(--primary-color-opaque);*/
/*}
*/

.menu a span:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -0.15rem;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--dark-blue);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu a span:hover:after {
    width: 100%;
    left: 0;
}


.newsSection {
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: transparent;
    position: relative;
}

.newsSection .newsContainerBackground{
    width: 100%;
    height: 80%;
    background-color: var(--light-grey);
    position: absolute;
    z-index: -1;
    top: 0;
}

.newsSection .newsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 5rem;
    justify-content: space-around;
    top: 7rem;
    z-index: 1;
}

.newsSection .newsItem {
    height: 28rem;
    width: 250px;
    background-color: var(--very-light-grey);
    transition: 300ms;
}

.newsSection .newsItem:hover {

    cursor: pointer;
    filter: dropShadow(10px 10px 10px black);
    transform: scale(1.1);
}




.newsSection .newsItem img {
    height: auto;
    width: 100%;
    margin: unset;
}

.newsSection .newsItem .textContainer {
    padding: 0.5rem 1rem;
}
.newsSection .newsItem h1 {
    font-family: Arial, serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    color:var(--blue);
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
}



.newsSection .newsItem h2 {
    font-family: Arial, serif;
    font-size: 1rem;
    margin: unset;
    opacity: 0.7;
    text-decoration: underline;
    text-underline-position: under;
    font-weight: normal;
}

.newsSection .newsItem p {
    font-size: 0.7rem;
    opacity: 0.5;
}


.icons h1 {
    margin-top: -1.5%;
    font-weight: 200;
    opacity: 80%;
    letter-spacing: 2px;
    text-decoration: none;
}

.ads {
    background-color: var(--grey);
    color: white;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.ads span {
    font-family: AirportFontSoft, Serif;
    font-size: 1.2rem;

}

.onlyicons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
}

.onlyicons a:hover {
    transform: scale(1.2)
}

.icons {
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-family: AirportFontSoft, serif;
    font-weight: normal;
    color: var(--grey);
    margin-top: 3.5rem;
    text-align: center;
    padding: 0 2rem;
}


.icons h1 {
    margin-top: -1.5%;
    font-size: 1.7rem;
    font-weight: 200;
    opacity: 80%;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.ads {
    background-color: var(--grey);
    color: white;
    padding: 1.5rem 2rem;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
}

.ads span {
    font-family: AirportFontSoft, Serif;
    font-size: 1.4rem;
}

.airTrends {
    background-image: url("./flightBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.airTrends img {
    width: 100%;
    height: auto;
}
.airTrends .airTrendsText{
    max-width: 40rem;
    opacity: 0.7;
    margin-right: 30rem;
}

.onlyicons a img {
    width: 1.8rem;
    filter: contrast(2);
}

.searchbar{
    opacity: 0.7;
    font-size: 85% ;
    margin-top: -2%;
    border-top-style: hidden;
}
.searchbarinput{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 16rem;

}
.searchbarinput:focus{
    outline: none;
    opacity: 100%;
}
