:root{
  --text-color:black;
  --blue:black;
  --grey: #494949;
  --light-grey:#ececec;
  --very-light-grey:#f4f4f4;
}
body {
  background-color: #ffffff;
  margin: unset;
  font-family: AirportFont;
}

section {
  display: flex;
  margin-top: 2rem;
  display: flex;
  column-gap: 1.5rem;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

body section{
  position: relative;
  background-color: var(--light-grey);
}
header section{
  position: inherit;
  background-color: transparent;
}

.decorated {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.decorated span{
  display: flex;
  column-gap: 1.5rem;
}
.decorated:after {
  content: "";
  display: flex;
  width: 2rem;
  height: 1rem;
  background-color: var(--grey);
  position: absolute;
  top:0rem;
  margin-left: 2rem;
}

.decorated:before {
  content: "";
  display: flex;
  width: 3rem;
  height: 1rem;
  background-color: #009de3;
  position: absolute;
  top:0rem;
}
.decorated img {
  width: 5rem;
  height: auto;
}

.decorated .logoTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #6d6d6d;
  font-family: AirportFontSoft;
  font-weight: 500;
}

.decorated .logoTextContainer img{
  width:10rem;
  margin-left: -0.2rem;
}

/*# sourceMappingURL=styles.css.map */
@font-face {
  font-family: 'AirportFont';
  src: url('./fonts/Airport-Font-Regular.ttf');
}
@font-face {
  font-family: 'AirportFontSoft';
  src: url('./fonts/Airport-Font-Soft.ttf');
}

/*.menu{*/
/*}*/
.menu a{
  display: block;
  color: #02b7ff;
  text-decoration: none;
  position: relative;
}
.menu a:after{
  position: absolute;
  color: #6d6d6d;
  opacity: 0.5;
  right: -1rem;
  content: "|";
}
.menu a:last-child:after{
  content: "";

}

.icons{
  font-family: AirportFontSoft,serif;
  font-weight: normal;
  color: var(--grey);
}

.newsSection{
  padding: 2rem 5rem;
  flex-direction: column;
}
.newsSection h1{
  font-family: AirportFontSoft,Serif;
  color: var(--grey);
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.1rem;
}

.newsSection .newsItem{
  position: absolute;
  height: 25rem;
  width: 19vw;
  background-color: var(--very-light-grey);
}

.newsSection .newsItem img{
  height: auto;
  width: 100%;
}
.newsSection .newsItem h1{
  color: var(--blue);
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.1rem;
}